<transition name="fade">
	<div v-if="show_window" @click.self="close()" class="u1-window-modal">
		<section class="u1-window">
			<button class="u1-button-window-close u1-opacity-low-hover-100" @click="close()" type="button">
				<i class="fa fa-times"></i>
			</button>
			<h2>Gallery</h2>

			<div v-show="show_window_loading" class="u1-window-loading"></div>
		</section>
	</div>
</transition>
