.u1-upload-file-preview progress {
	width: 100%;
	display: block;
}

.u1-upload-file-preview {
	position: relative;
	display: grid;
	grid-gap: 4px;
	padding: 4px;
}

.u1-upload-dropbox {
	position: relative;
	cursor: pointer;
	text-align: center;
}

.u1-upload-input-file {
	opacity: 0; /* invisible but it's there! */
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
}

.u1-upload-dropbox:hover {
	background: lightgray;
}

.u1-upload-dropbox-drag-hover {
	/* when file dragged over drop zone */
}

.u1-upload-dropbox-drag-hover-fullscreen {
	display: none; /* You need to style this to use it...*/
}

.u1-upload-dropbox-drag-hover-fullscreen-label {
}

.u1-upload-dropbox p {
	font-size: 1.2em;
	text-align: center;
	padding: 50px 0;
}
