.u1-form input,
.u1-form optgroup,
.u1-form select,
.u1-form textarea {
	color: inherit;
	font: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	margin-bottom: 0px;
}

/* Forms */
.u1-form input[type="email"],
.u1-form input[type="date"],
.u1-form input[type="time"],
.u1-form input[type="number"],
.u1-form input[type="search"],
.u1-form input[type="text"],
.u1-form input[type="tel"],
.u1-form input[type="url"],
.u1-form input[type="password"],
.u1-form input[type=""],
.u1-form textarea,
.u1-form select {
	padding: 0.6rem 1rem; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #fff;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow: none;
	display: block;
	width: 100%;
	line-height: 1.5;
}
/* Removes awkward default styles on some inputs for iOS */
.u1-form input[type="email"],
.u1-form input[type="date"],
.u1-form input[type="time"],
.u1-form input[type="number"],
.u1-form input[type="search"],
.u1-form input[type="text"],
.u1-form input[type="tel"],
.u1-form input[type="url"],
.u1-form input[type="password"],
.u1-form input:not([type]),
.u1-form textarea {
	-webkit-appearance: none;
	appearance: none;
}
.u1-form textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.u1-form input[type="email"]:focus,
.u1-form input[type="date"]:focus,
.u1-form input[type="time"]:focus,
.u1-form input[type="number"]:focus,
.u1-form input[type="search"]:focus,
.u1-form input[type="text"]:focus,
.u1-form input[type="tel"]:focus,
.u1-form input[type="url"]:focus,
.u1-form input[type="password"]:focus,
.u1-form input:not([type]):focus,
.u1-form textarea:focus,
.u1-form select:focus {
	box-shadow: 0 0 0 3px hsla(194.3, 86.3%, 57.1%, 0.61);
	transition: box-shadow 0.3s;
}

.u1-form input:invalid {
	outline:2px solid #ff0000ab !important;
	background-color: pink !important;
}

.u1-input-with-icon,
.u1-input-with-icon-after {
	position: relative;
}
.u1-input-with-icon :first-child,
.u1-input-with-icon-after :last-child {
	position: absolute;
	height: 100%;
	display: flex;
	place-items: center;
	width: 3.2rem;
	place-content: center;
	z-index: 1;
}
.u1-input-with-icon-after :last-child {
	top: 0;
	right: 0;
}

.u1-input-with-icon > input.u1-input-has-icon {
	padding-left: 3.2rem;
}

.u1-input-with-icon-after > input.u1-input-has-icon {
	padding-right: 3.2rem;
}

.u1-form label,
.u1-form legend {
	display: flex block;
	font-weight: 500;
	align-items: center;
}

.u1-form legend > * {
	flex: 1;
}
.u1-form fieldset {
}
.u1-form input[type="checkbox"],
.u1-form input[type="radio"] {
	display: inline;
}
.u1-form label > .u1-label-body {
	display: inline-block;
	margin-left: 0.5rem;
	font-weight: normal;
}

.u1-input-subnote,
.u1-note {
	opacity: 0.75;
	font-size: 80%;
	font-weight: normal;
}

.u1-input-validation-error {
	position: relative;
	/* outline:2px solid rgba(255,0,0,.4);
	outline-offset: 3px; */
}

.u1-input-validation-error-message {
	background: red;
	color: #fff;
	padding: 0 1rem;
	margin: 0.4rem;
	border-radius: 2rem;
	font-size: 1.3rem;
	line-height: 2;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}

.u1-label-input-rows > *:not(label) {
	/* This has a structure where labels need to be closer to their fields and/or further from the other row*/
	margin-bottom: var(--u1-gap-row);
}

.u1-radio-group,.u1-checkbox-group {
	display: inline-flex;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 0.4rem;
	padding: 0.4rem;
	--u1-gap: 0.6rem;
	gap: var(--u1-gap);
	--u1-flex-basis: auto;
}

.u1-checkbox-group {
	--u1-flex-basis: 100%;
}

.u1-radio-group label,
.u1-checkbox-group label {
	align-items: center;
	font-weight: normal;
	font-weight: normal;
	cursor: pointer;
	padding: 0.2rem 0.6rem;
	flex-basis: var(--u1-flex-basis);
	border-radius: 0.4rem;
}

.u1-radio-group .u1-radio-selected,.u1-radio-group .u1-radio-selected:hover,
.u1-checkbox-group .u1-checkbox-selected,.u1-checkbox-group .u1-checkbox-selected:hover
{
	background:rgba(0, 0, 0, 0.1);
}

.u1-grid {
	display:grid !important;
}

.u1-radio-group label:hover,
.u1-checkbox-group label:hover {
	background: rgba(0, 0, 0, 0.1);
}

.u1-radio-group input[type="radio"],
.u1-checkbox-group input[type="checkbox"] {
	margin-right: 0.4rem;
	cursor: pointer;
}

.u1-label-input-rows > *:not(label):last-child {
	/* To help it mesh better with other spacing/wrapping elements */
	margin-bottom: 0;
}

@media (max-width: 960px) {
	.u1-label-input-rows > *:not(label) {
		/* This has a structure where labels need to be closer to their fields and/or further from the other row*/
		margin-bottom: calc(var(--u1-gap-row) * 3);
	}
	.u1-input-validation-error-message {
		position: static;
	}
	.u1-label-input-rows {
		--u1-gap-row: 0.5rem;
	}
}
