:target {
	animation: targetanm 0.7s ease-out;
}

@keyframes targetanm {
	0% {
		background: yellow;
		outline: 4px solid yellow;
	}
	100% {
		background: transparent;
		outline: 4px solid transparent;
	}
}

:target::before {
	content: " ";
	display: block;
	pointer-events: none;
	visibility: hidden;
	height: calc(10px + var(--u1-sticky-top));
	margin-top: calc(-10px - var(--u1-sticky-top));
}

.u1-uploader {
}
.u1-upload-form {
	display: flex;
	flex-direction: column;
}
.u1-upload-file-preview {
	background: #333 no-repeat center / cover;
	border-radius: 4px;
	display: grid;
	grid-template-columns: 1fr max-content;
	font-size: 1.2rem;
	color: #fff;
	box-shadow: inset 0 0 12px 20px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
}

.u1-upload-file-preview-error {
	box-shadow: inset 0 0 100px 25px rgba(155, 0, 0, 0.9);
}

.u1-upload-dropbox {
	border: 2px dashed rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.6);
	padding: 20px 10px;
	border-radius: 8px;
	background: #efefef;
}

.u1-upload-dropbox-drag-hover {
	/* when file dragged over drop zone */
	background: rgb(0, 162, 255);
	color: #fff;
	box-shadow: 0 0 0.3px 2px rgb(0, 162, 255);
}

.u1-upload-dropbox-preview {
	position: absolute;
	z-index: 10;
	background: var(--u1-dark-bg);
	padding: 1rem;
	border-radius: 5px;
	min-width: 300px;
	box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.u1-upload-dropbox-drag-hover-fullscreen {
	display: flex;
	outline: 3px dashed rgba(0,0,0,.2);
	outline-offset: -3px;
	background:rgba(0, 162, 255, 0.4);
	position: fixed;	
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 9999999;
	align-items: center;
	justify-content: center;
}

.u1-upload-dropbox-drag-hover-fullscreen-label {
	background:rgb(0, 162, 255);
	box-shadow:2px 2px 4px rgb(0, 127, 201);
	color:white;
	padding:1.5rem 2rem;
	border-radius: .4rem;
	font-weight:bold;
	font-size:2rem;
}

.u1-table tbody tr:not(.u1-disabled):not([disabled]):hover {
	/* Outline is non-invasive style that won't affect colors, dimensions or likely override other styles */
	outline: 2px solid hsla(216.7, 100%, 50%, 0.3);
	outline-offset: -2px;
	background: hsla(90, 0%, 0%, 0.07);
}

.u1-form fieldset {
	display: block;
	--u1-border-width: 1px;
	border: var(--u1-fieldset-border);
	--u1-fieldset-padding: 1.2rem;
	padding: var(--u1-fieldset-padding) var(--u1-fieldset-padding) 2rem var(--u1-fieldset-padding);
	margin-bottom: 2rem;
	background: hsl(0, 0%, 100%);
}

.u1-form fieldset {
	--u1-fieldset-border: var(--u1-border-width) solid hsl(0, 0%, 89.8%);
}

.u1-form fieldset > legend {
	font-weight: bold;
	padding: .6rem 1.2rem;
	background: hsl(0, 0%, 93.3%);
	color: var(--u1-palette-blue);
	border-radius: 0.4rem 0.4rem 0 0;
	margin: auto auto auto calc(var(--u1-fieldset-padding) * -1 - var(--u1-border-width));
	width: calc(100% + calc(var(--u1-fieldset-padding) * 2 + var(--u1-border-width) * 2));
	border: var(--u1-fieldset-border);
}

@media (max-width: 960px) {
	/* Make forms and forms in windows go full width. Looks cleaner on mobile. */
	.u1-window-mobile-trim .u1-form fieldset {
		border-left-width: 0;
		border-right-width: 0;
		margin: 0 0 2rem 0;
	}

	.u1-window-mobile-trim .u1-form fieldset > legend {
		border-radius: 0;
		width: calc(100% + 2.4rem);
		margin: auto auto auto calc(-1.2rem);
	}

	.u1-window-mobile-trim .u1-window-body {
		padding: 0;
	}

	.u1-window-mobile-compact .u1-form fieldset {
		--u1-border-width: 0;
		border-bottom-width: 1px;
		margin-left: calc(var(--u1-window-body-padding) * -1);
		margin-right: calc(var(--u1-window-body-padding) * -1);
		box-shadow: none;
		border-radius:none;
	}
	.u1-window-mobile-compact .u1-form fieldset legend {
		border-radius: 0;
		margin: auto auto auto -1.2rem;
		width: calc(100% + 2.4rem);
	}
}
